body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 50px;

}

.choices {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    max-width: 30%;
    flex-wrap: wrap;
    justify-content: center;
}

.choices button {
    font-size: 20px;
    min-width: 100px;
    min-height: 100px;
    /* margin: 0 10px; */
    /* margin-bottom: 1%; */
    background-color: black;
    color: white;
    cursor: pointer;
}

.btn-row {
    display: flex;
    flex-direction: column;
}

#Owin,
#Xwin,
#tied {
    display: none;
}

.resetBtn {
    background-color: blueviolet;
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;

}

.scoreDisplay {
    font-size: 20px;
}

.roundWinner {
    font-size: 30px;
    margin: 0;
}